body{
	margin: 5;
	padding: 30px;
	border: 5px solid #B8860B;
	background-color: #FFFAF0; 
}
h2{
	color: #8B4513;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	align-items: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
b{
	color: #8B4513;
}
img{
	margin:5;
	padding:5px;
	border: 5px solid #B8860B;
}
.title{
	margin:5;
	padding: 5px;
	border: 5px solid #B8860B;
	color: #8B4513;
	background: #FFFF00;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	align-items: stretch;
	align-items: center;
	min-height: 50px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.menu{
	height: 60px;
	border: 5px solid #B8860B;
	color: #8B4513;
	background: #FFFACD;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	align-items: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.information{
	display: flex;
}
.text{
	margin: 5;
	padding: 5px;
	border: 5px solid #B8860B;
	background: #F0E68C;
	width: 50%;
	padding: 10px;
	text-align: justify;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.сollage{
	margin: 5;
	padding: 10px;
	border: 5px solid #B8860B;
	background: #F0E68C;
	width: 50%;
}
.image{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.footer{
	padding: 5px;
	min-height: 30px;
	border: 5px solid #B8860B;
	color: #8B4513;
	background: #FFFF00;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}
